.container {
  margin: 20px auto 0;
  width: 90%;
}
@media screen and (min-width: 720px) {
  .container {
    width: 70%;
  }
}
.input {
  font-size: 3em;
  display: block;
  border: 1px solid #CCC;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  width: 100%;
}
.input:focus {
  outline: none;
}
.inOutContainer {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 720px) {
  .inOutContainer {
    flex-direction: row;
  }
}
.inputContainer {
  flex: 0 0 320px;
}
.outputContainer {
  flex: 1 1 auto;
}
.inputList {
  list-style: none;
  padding: 0;
}
.inputChoice {
  cursor: pointer;
  margin: 4px;
  padding: 8px;
  border: 1px solid #CCC;
}
.inputChoice:hover {
  background: rgb(255, 255, 175);
}
.selectedInput {
  font-weight: bold;
  background: #ffff91;
  border-color: #fcfc44;
}
.selectedInput.invalidInput,
.invalidInput,
.invalidInput:hover {
  cursor: not-allowed;
  background: #ffc0c0;
  border-color: #803030;
}
.selectedInput {
  font-weight: bold;
  background: #ffff91;
  border-color: #fcfc44;
}
.inputChoice p {
  margin: 0;
  color: #999;
}
.output {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.output li {
  font-size: 3em;
  border: 1px solid #CCC;
  text-align: center;
}
.output p {
  margin: 0;
}
.label {
  font-size: 16px;
  color: #666;
}
.char {
  display: inline-block;
  border: 1px solid #d0d0d0;
  white-space: pre;
}
.byte {
  display: inline-block;
  border: 1px solid #d0d0d0;
  font-family: 'Courier New', Courier, monospace;
}
.byte span {
  border-right: 1px dashed #d0d0d0;
}
.byte span:last-child {
  border-right: none;
}
.binaryByte {
  font-size: 1rem;
}