.node-container {
    display: flex;
    margin-bottom: 3px;
}

.node {
    border-radius: 5px;
    box-shadow: 2px 5px 7px inset rgba(255,255,255,0.5);
    width: 240px;
    box-sizing: content-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.node-children {
    flex: 1;
    margin-left: 20px;
}

.node-children .node::before {
    content: "→";
    position: absolute;
    left: -18px;
}

.node label {
    font-weight: bold;
    font-size: 0.8em;
}

.node p {
    margin: 0;
    margin-bottom: 0.5em;
    background: white;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 1px;
    cursor: pointer;
}

.node p:empty {
    display: none;
}

.input-node {
    composes: node;
    background: #deffde;
    border: 1px solid #55de55;
}


.input-node input {
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 2px;
    font-size: 1.3rem;
}

.interpret-node {
    composes: node;
    background: #dedeff;
    border: 1px solid #5555de;
}

.display-node {
    composes: node;
    background: #ffc4c4;
    border: 1px solid #de5555;
}

.encode-node {
    composes: node;
    background: #fff182;
    border: 1px solid #ceb548;
}

.decode-node {
    composes: node;
    background: #82ffff;
    border: 1px solid #48ceb1;
}

.render-node {
    composes: node;
    background: #eba8ff;
    border: 1px solid #ff5aff;
}

.render-node span {
    border: 1px dashed rgba(0,0,0,0.3);
    border-width: 0 1px 1px 0;
    padding: 3px;
    display: inline-block;
}