.UCDSearch {
    position: relative;
}
.UCDSearch input {
    font-size: 1.2em;
    margin: 4px 0;
    width: 100%;
}
.UCDSearch-list {
    position: absolute;
    left: 0;
    background: white;
    padding: 8px;
    list-style: none;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.7);
}
.UCDSearch-list:empty {
    display: none;
}
.UCDSearch-list li {
    cursor: pointer;
}
.UCDSearch-list li:hover {
    background: rgba(0,0,0,0.3);
}